* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

.header {
  background-color: #f0f0f0;
  padding: 20px 0;
}

.logo {
  font-size: 24px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.hero {
  color: #0f0707b1;
  padding: 100px 0;
  text-align: center;
}

.hero-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 18px;
}

.section {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service {
  flex-basis: calc(33.33% - 40px);
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.service-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.service-description {
  font-size: 16px;
  text-align: center;
}

.portfolio-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc(50% - 20px); 
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.portfolio-item:hover {
  transform: translateY(-5px);
}

.portfolio-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333; 
}

.portfolio-description {
  font-size: 16px;
  color: #666; 
  line-height: 1.5;
}

.portfolio-description::before {
  content: '\2022'; 
  color: #e96053; 
  margin-right: 5px;
}



.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.footer-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #333; /* Adjusted text color */
}

.btn {
  padding: 10px 20px;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e96053;
}

#MainColor {
  color: #ffc107;
}
#Red {
  color: #e96053;
}

.emphasize {
  color: #007bff;
}

.highlight {
  color: #ff9900;
}
